*{
    margin:0;
    padding:0;

}

.logo{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo img{
    width:50%;
    border: 3px solid white;
    border-radius: 75px;
}
.navbar{
    display:flex;
  
  
    position: sticky;
   
}
.nav-list{
    width: 50%; 
    align-items: center;
    display: flex;  

}

.nav-list li{
    list-style: none;
    padding: 36px 55px;
}

.nav-list li a{
    text-decoration: none;
    color: white;
}
.nav-list li a:hover{
    text-decoration: none;
    color: grey;
}
.rightnav{
    width: 50%;
    text-align: right;
    height:fit-content;
}

#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 10px;
}
.background{
    background: rgba(0, 0, 0, 0.7) url('http://carsonhighschoollibrary.weebly.com/uploads/9/8/9/4/98943192/header_images/1495414471.jpg');
    background-size: cover;
    background-blend-mode: darken;

}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.firstsection{
    height: 100vh;
}
.firsthalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
